# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Project specific
_project_docs/
GEMINI.md
.venv
