{% extends "base.html" %}

{% block title %}{{ post.title }} - N4YuC4_Blog{% endblock %}

{% block content %}
<article class="bg-white p-8 rounded-xl shadow-lg relative border border-gray-100 max-w-3xl mx-auto">
    <a href="{{ url_for('index') }}" class="back-to-home-button inline-block text-purple-600 hover:text-purple-800 transition duration-300 font-semibold mb-6 flex items-center">
        <i class="fas fa-arrow-left mr-2"></i> Tüm Yazılara Dön
    </a>
    <h1 class="text-3xl lg:text-4xl font-bold text-gray-800 mb-4 leading-tight">{{ post.title }}</h1>
    <img src="{{ url_for('static_images', filename=post.imageUrl.replace('images/', '', 1)) }}" alt="{{ post.title }} blog yazısı görseli" class="w-full h-auto object-cover rounded-lg mb-6 shadow-md">
    <p class="text-sm text-gray-500 mb-6">Yayınlanma Tarihi: {{ post.date }}</p>
    <div class="text-gray-700 leading-relaxed text-lg content-area">
        {{ post.content | safe }}
    </div>
</article>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightElement(block);
        });
    });
</script>
{% endblock %}