{% extends "base.html" %}

{% block title %}{{ data.title }} - N4YuC4{% endblock %}

{% block content %}
<section id="privacy-policy-section" class="container mx-auto p-6 md:p-8 bg-white rounded-xl shadow-lg flex-grow">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl md:text-5xl font-bold text-gray-800 mb-12 text-center">{{ data.title }}</h1>
        <div class="text-slate-700 content-area prose prose-lg prose-slate mx-auto">
            {{ data.content | safe }}
        </div>
    </div>
</section>
{% endblock %}